@model List<Product>
<div class="container">
	<h1 class="block-title">تخفیفات</h1>
		<div class="row product-listing carousel-products-mobile products-mobile-arrow">
		@foreach (var item in Model)
		{

			<div class="col-xs-6 col-sm-4 col-md-3 ">
				<div class="product">
					<div class="product_inside">
						<div class="image-box">
							<a href="product.html">
								<img src="@item.ImageUrl" alt="">
								<div class="label-sale left">Sale<br>@item.Off% Off</div>
							</a>
							<a href="#" data-toggle="modal" data-target="#ModalquickView" class="quick-view">
								<span>
									<span class="icon icon-visibility"></span>پیش نمایش محصول
								</span>
							</a>
							<div class="countdown_box">
								<div class="countdown_inner">
									<div class="countdown"
									 data-date="2017-12-08"
									 data-year="Yrs"
									 data-month="Mths"
									 data-week="Wk"
									 data-day="Day"
									 data-hour="Hrs"
									 data-minute="Min"
									 data-second="Sec"></div>
								</div>
							</div>
						</div>
						<h2 class="title">
							<a href="product.html">@item.Title</a>
						</h2>
						<div class="price">
							<span class="price">@item.Price</span>
						</div>
						<div class="description">
							@item.Description
						</div>
						<div class="product_inside_hover">
							<div class="product_inside_info">
								<ul class="options-swatch options-swatch-color">
									<li>
										<a href="#">
											<span class="swatch-img">
												<img src="images/custom/filter_color1.jpg" alt="">
											</span>
											<span class="swatch-label color-dark-grey"></span>
										</a>
									</li>
									<li class="active">
										<a href="#">
											<span class="swatch-img">
												<img src="images/custom/filter_color2.jpg" alt="">
											</span>
											<span class="swatch-label color-pale-gold"></span>
										</a>
									</li>
									<li>
										<a href="#">
											<span class="swatch-label color-white border-bg"></span>
										</a>
									</li>
								</ul>
								<ul class="tags-list">
									<li><a href="#">XS</a></li>
									<li class="active"><a href="#">S</a></li>
									<li><a href="#">M</a></li>
									<li><a href="#">L</a></li>
								</ul>
								<div class="rating">
									<span class="icon-star"></span>
									<span class="icon-star"></span>
									<span class="icon-star"></span>
									<span class="icon-star"></span>
									<span class="icon-star empty-star"></span>
								</div>
								<a class="btn btn-product_addtocart" href="#" data-toggle="modal" data-target="#modalAddToCartProduct">
									<span class="icon icon-shopping_basket"></span>ADD TO CART
								</a>
								<a href="#" class="quick-view btn" data-toggle="modal" data-target="#ModalquickView">
									<span>
										<span class="icon icon-visibility"></span>QUICK VIEW
									</span>
								</a>
								<ul class="product_inside_info_link">
									<li class="text-right">
										<a href="#" class="wishlist-link">
											<span class="fa fa-heart-o"></span>
											<span class="text">Add to wishlist</span>
										</a>
									</li>
									<li class="text-left">
										<a href="#" class="compare-link">
											<span class="fa fa-balance-scale"></span>
											<span class="text">Add to compare</span>
										</a>
									</li>
									<li>
										<a href="#" data-toggle="modal" data-target="#ModalquickView" class="quick-view">
											<span class="icon icon-visibility"></span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		}
	</div>
</div>